{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% if recent_articles %}
    <div class="col-md-3 white-text">
        <div class="content-kontainer">
            <div class="warna-teks-secondary text-center text-md-left">
                <h4>Artikel Lain</h4>
            </div>
            <div class="d-flex d-md-block flex-wrap justify-content-around">

                {% for article in recent_articles %}
                    <a href="{{ article.url }}">
                        <div class="artikel-card mar-vertical-sm align-self-start">
                            <div class="ratio-1-1">
                                <div class="fill-ratio">
                                    <div class="fill-kontainer-tall">
                                        <!-- GAMBAR ARTIKEL 1 DI SINI -->
                                        {% comment %} <img src="https://insanq.co.id/images/TETAP_EFEKTIF_DI_TENGAH_PANDEMI.jpg" alt=""> {% endcomment %}
                                        {% image article.main_image max-900x900 as main_image %}
                                        <img src="{{main_image.url}}" alt="{{article.title}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="artikel-teksboks">
                                <div class="artikel-tanggal">
                                    <!-- TANGGAL ARTIKEL 1 DI SINI -->
                                    <p>{{ article.get_pub_date }}</p>
                                </div>
                                <div class="artikel-judul">
                                    <!-- JUDUL ARTIKEL 1 DI SINI -->
                                    <h5>{{ article.title }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}
