{% extends 'base.html' %}

{% load static coderedcms_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %}
{% block isi_page %}
<div class="section-fluid gray-text">
    {% include 'navbar-primary.html' %}
    <div class="navbar-space"></div>
</div>
<div class="section-fluid gray-text">
    <div class="content-width">
        <div class="section-kontainer">
            <div class="content-kontainer warna-teks-primary-dark">
                <div class="align-items-center text-center mar-auto">
                    <div class="d-inline-block">
                        <h2>{{ page.title }}</h2>
                        <div class="underline-short ul-primary ul-normal mar-auto"></div>
                    </div>
                </div>
            </div>
            <div class="content-kontainer">
                <div class="artikel-konten mar-auto par-max-width px-5 px-md-0">
                    <div class="no-indent">
                        {% block isi_info %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}