Django>=3.0,<3.1
wagtail>=2.9,<2.10
black==19.10b0
flake8==3.8.3
wagtail-metadata==3.2.0
gunicorn==20.0.4
whitenoise==5.1.0
coverage==5.1

# Heroku
django-toolbelt==0.0.1
psycopg2==2.8.5
dj-database-url==0.5.0

# mysqlclient==2.0.1
