{% extends "article/article_index_page.html" %}

{% load wagtailcore_tags wagtailimages_tags coderedcms_tags subtract update_variable %}

{% block title %}
    Pencarian
    {% if form.s.value %}
        : {{ form.s.value }}
    {% endif %}
{% endblock %}

{% block judul_index %}
    Pencarian
    {% if form.s.value %}
        : {{ form.s.value }}
    {% endif %}
{% endblock %}

{% block searchbox %}
    <form action="{% url 'codered_search' %}" method="GET">
        <div class="content-kontainer">
            <div class="form-group has-search searchbox">
                <span class="fa fa-search fa-lg form-control-feedback"></span>
                <input type="text" class="form-control" name="s" id="searchbox" placeholder="Cari {{page.title}}">
                <input type="submit" class="d-none"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block index_result %}

    {% if results_paginated.object_list %}

        <div class="d-flex flex-wrap justify-content-center white-text">
            
            {% for page in results_paginated %}
                <div class="px-4 ---">
                    <a href="{{page.specific.url}}">
                        <div class="artikel-card align-self-start mx-auto">
                            <div class="ratio-1-1">
                                <div class="fill-ratio">
                                    <div class="fill-kontainer-tall">
                                        {% block cover %}
                                            {% image page.specific.main_image max-1600x900 as main_image %}
                                            <img src="{{main_image.url}}" alt="{{page.title}}"/>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                            <div class="artikel-teksboks">
                                <div class="artikel-tanggal">
                                    <!-- TANGGAL ARTIKEL 1 DI SINI -->
                                    <p>{{page.specific.get_pub_date}}</p>
                                </div>
                                <div class="artikel-judul">
                                    <!-- JUDUL ARTIKEL 1 DI SINI -->
                                    <h5>{{page.title}}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="p-4"></div>
                </div>
            
            {% endfor %}

        </div>

        <div class="list-page-num text-center mar-vertical-sm">

            {% if results_paginated.number > 1 %}
                <a href="{{ results_paginated.number|subtract:1 }}{% block par_lain_previous %}{% endblock %}" id="page-previous">
                    <div class="page-num-block">
            {% else %}
                <a href="#" id="page-previous">
                    <div class="page-num-block disabled">
            {% endif %}
                    <div class="vertical-center">
                        <div class="mar-auto">
                            <span class="fa fa-angle-left fa-sm"></span>
                        </div>
                    </div>
                </div>
            </a>
            {% with start="0" %}
                {% if results_paginated.paginator.num_pages >= 9 %}
                    {{results_paginated.number}}
                    {% if results_paginated.number < 5 %}
                        {{start}}
                    {% elif results_paginated.paginator.num_pages|subtract:results_paginated.number < 5 %}
                        {% update_variable results_paginated.paginator.num_pages|subtract:9 as start %}
                        {{start}}
                    {% else %}
                        {% update_variable results_paginated.number|subtract:5 as start %}
                        {{start}}
                    {% endif %}
                {% endif %}
                
                {% for i in '012345678'|make_list %}
                    {% if forloop.counter|add:start > results_paginated.paginator.num_pages %}
                    {% else %}
                        <a href="?p={{ forloop.counter|add:start }}{% block par_lain %}{% endblock %}" page="{{ forloop.counter|add:start }}" id="page-button-{{ forloop.counter }}">
                        {% if forloop.counter|add:start == results_paginated.number %}
                            <div class="page-num-block current-page">
                        {% else %}
                            <div class="page-num-block">
                        {% endif %}
                                <div class="vertical-center">
                                    <div class="mar-auto">
                                        <span class="isi-page-button">
                                            {{ forloop.counter|add:start }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    
                {% endfor %}
            {% endwith %}
            {% if results_paginated.number < results_paginated.paginator.num_pages %}
                <a href="?p={{ results_paginated.number|add:1 }}{% block par_lain_next %}{% endblock %}" id="page-next">
                    <div class="page-num-block">
            {% else %}
                <a href="#" id="page-next">
                    <div class="page-num-block disabled">
            {% endif %}
                    <div class="vertical-center">
                        <div class="mar-auto">
                            <span class="fa fa-angle-right fa-sm"></span>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    {% else %}

        <div class="artikel-konten mar-auto par-max-width text-center">
            <p>
                {% if form.s.value %}
                    Hasil pencarian kosong.
                {% else %}
                    Silakan mengetikkan kata kunci ke dalam form.
                {% endif %}
            </p>
        </div>

    {% endif %}

{% endblock %}