{% extends 'base.html' %}

{% load static coderedcms_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %}

{% block isi_page %}
    <div class="section-fluid bg-warna-primary white-text blob-parent">
        {% include 'navbar-transparan.html' %}
        <div class="navbar-space d-block d-md-none"></div>
        <div class="blob-kontainer h-100">
            <div class="parallax blob-primary blob-left" style="background-image: url('https://dl.dropboxusercontent.com/s/gs3x2onx28oh81k/blob-primary-left.png?dl=1')">
            </div>
            <div class="parallax blob-primary blob-right" style="background-image: url('https://dl.dropboxusercontent.com/s/hmzwu70uaxeivmv/blob-primary-right.png?dl=1')">
            </div>
        </div>
        <div class="content-width full-height">
            <div class="row vertical-center content-kontainer">
                <div class="col-md-6">
                    <h1 class="smaller">Selamat Datang di</h1>
                    <h1>{{ page.home_company_name }}</h1>
                    <p class="deskripsi">
                        {{ page.home_description }}
                    </p>
                    <div class="my-4">
                        <a class="btn btn-secondary btn-lg btn-wide" href="./LINKDAFTAR" role="button">Daftar</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-placeholder">
                        {% image page.home_image max-1200x1200 as main_image %}
                        <img src="{{main_image.url}}" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-fluid gray-text" id="layanan">
        <div class="content-width">
            <div class="section-kontainer">
                <div class="content-kontainer warna-teks-primary-dark">
                    <div class="align-items-center text-center mar-auto">
                        <div class="d-inline-block">
                            <h2>Layanan</h2>
                            <div class="underline-short ul-primary ul-normal mar-auto"></div>
                        </div>
                    </div>
                </div>
                {% for layanan in page.section_layanan %}
                    {% cycle 'kanan' 'kiri' as align silent %}
                    {% if align == 'kanan' %}
                        <div class="row content-kontainer warna-teks-primary-dark pad-vertical align-items-center">
                            <div class="col-md-6 order-2 order-md-1">
                                <a href="{{ layanan.value.related_page.url }}">
                                    <h3>{{ layanan.value.title }}</h3>
                                </a>
                                <div class="deskripsi">
                                    {{ layanan.value.content|richtext }}
                                </div>
                            </div>
                            <div class="col-md-6 order-1 order-md-2">
                                <div class="img-placeholder">
                                    {% image layanan.value.thumbnail max-1200x1200 as main_image %}
                                    <img src="{{main_image.url}}" class="w-100" />
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row content-kontainer warna-teks-primary-dark pad-vertical align-items-center">
                            <div class="col-md-6 order-2 order-md-2">
                                <a href="{{ layanan.value.related_page.url }}">
                                    <h3>{{ layanan.value.title }}</h3>
                                </a>
                                <div class="deskripsi">
                                    {{ layanan.value.content|richtext }}
                                </div>
                            </div>
                            <div class="col-md-6 order-1 order-md-1">
                                <div class="img-placeholder">
                                    {% image layanan.value.thumbnail max-1200x1200 as main_image %}
                                    <img src="{{main_image.url}}" class="w-100" />
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section-fluid bg-warna-secondary white-text blob-parent" id="artikel">
        <div class="blob-kontainer h-100">
            <div class="parallax blob-primary blob-left" style="background-image: url('https://dl.dropboxusercontent.com/s/gs3x2onx28oh81k/blob-primary-left.png?dl=1')">
            </div>
            <div class="parallax blob-primary blob-right" style="background-image: url('https://dl.dropboxusercontent.com/s/hmzwu70uaxeivmv/blob-primary-right.png?dl=1')">
            </div>
        </div>
        <div class="content-width">
            <div class="section-kontainer">
                <div class="content-kontainer">
                    <div class="d-inline-block pl-4">
                        <h2>Artikel</h2>
                        <div class="underline-long ul-secondary-light ul-normal"></div>
                    </div>
                </div>
                <div class="row content-kontainer">
                    {% for article in recent_articles %}
                        <div class="col-md-4">
                            <a href="{{ article.url }}">
                                <div class="artikel-card mar-auto">
                                    <div class="ratio-1-1">
                                        <div class="fill-ratio">
                                            {% if article.main_image %}
                                                <div class="fill-kontainer-tall">
                                                    {% image article.main_image max-900x900 as main_image %}
                                                    <img src="{{main_image.url}}" />
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="artikel-teksboks">
                                        <div class="artikel-tanggal">
                                            <p>{{ article.get_pub_date }}</p>
                                        </div>
                                        <div class="artikel-judul">
                                            <h4>{{ article.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="p-4"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex align-items-center flex-column">
                    <a class="btn btn-secondary btn-border btn-lg btn-wide" href="/artikel" role="button">Artikel lain</a>
                </div>
                <div class="p-4"></div>
            </div>
        </div>
    </div>
    <div class="section-fluid gray-text" id="jadwal">
        <div class="content-width">
            <div class="section-kontainer">
                <div class="content-kontainer warna-teks-secondary-dark">
                    <div class="align-items-center text-center mar-auto">
                        <div class="d-inline-block">
                            <h2>Kegiatan Konseling &amp; Psikotes</h2>
                            <div class="underline-short ul-secondary ul-normal mar-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="content-kontainer">
                    <div class="d-flex flex-wrap justify-content-around align-items-start">

                        {% for event in recent_events %}
                            <div class="kegiatan-card">
                                <div class="kegiatan-judul">
                                    <h3>{{ event.title }}</h3>
                                </div>
                                <div class="my-3">
                                    <div class="underline-exact ul-secondary-light ul-mid mar-auto"></div>
                                </div>
                                <div class="kegiatan-deskripsi">
                                    {{ event.short_description|richtext }}
                                </div>
                                <div class="text-right mt-4">
                                    <a class="btn btn-secondary" href="{{ event.url }}" role="button">Daftar</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <a class="btn btn-secondary btn-lg btn-wide" href="/daftar" role="button">Kegiatan lain</a>
                </div>
                <div class="p-4"></div>
            </div>
        </div>
    </div>
{% endblock %}