{% extends "article/article_index_page.html" %}

{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags watch_to_embed %}

{% block video_cover %}
    <div class="ratio-16-9">
        <div class="fill-ratio">
            {% if "youtube" in article.specific.link_youtube %}
                <iframe class="fill-kontainer-wide"
                {% if "watch?v=" in article.specific.link_youtube %}
                    src="{{ article.specific.link_youtube|watch_to_embed }}"
                {% elif "embed" in article.specific.link_youtube %}
                    src="{{ article.specific.link_youtube }}"
                {% endif %}
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            {% endif %}
        </div>
    </div>
{% endblock %}