{% extends "article/article_base.html" %}

{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags watch_to_embed %}

{% block description %}{{self.get_description}}{% endblock %}
{% block html_seo_extra %}
{% if self.get_author_name %}<meta name="author" content="{{self.get_author_name}}" />{% endif %}
<meta name="created" content="{{self.get_pub_date|date:'c'}}" />
<meta name="revised" content="{{self.last_published_at|date:'c'}}" />
{% comment %} {% if settings.coderedcms.SeoSettings.amp_pages %}
<link rel="amphtml" href="{{self.get_full_url}}?amp">
{% endif %} {% endcomment %}
{% endblock %}

{% block og_type %}video.other{% endblock %}

{% block sidebar %}
    {% include 'sidebar_share.html' %}
{% endblock %}

{% block cover %}
    {% if "youtube" in page.link_thumbnail_embed_video %}
        <iframe class="fill-kontainer-wide"
        {% if "watch?v=" in page.link_thumbnail_embed_video %}
            src="{{ page.link_thumbnail_embed_video|watch_to_embed }}"
        {% elif "embed" in page.link_thumbnail_embed_video %}
            src="{{ page.link_thumbnail_embed_video }}"
        {% endif %}
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    {% endif %}
{% endblock %}

{% block isi_artikel %}
    {{ self.body|richtext }}
{% endblock %}

{% block other_article %}
{% endblock %}

{% if settings.coderedcms.SeoSettings.struct_meta %}
    {% block struct_seo_extra %}
    <script type="application/ld+json">
        {% include "coderedcms/includes/struct_data_article.json" with page=self %}
    </script>
    {% endblock %}
{% endif %}
