{% extends "article/article_index_page.html" %}

{% load wagtailcore_tags wagtailimages_tags coderedcms_tags subtract update_variable watch_to_embed %}

{% block title %}
Pencarian 
{% if form.s.value %} : {{ form.s.value }} 
{% endif %} 
{% endblock %}

{% block judul_index %} 
Pencarian 
{% if form.s.value %} : {{ form.s.value }} 
{% endif %} 
{% endblock %}

{% block searchbox %}
<form action="{% url 'codered_search' %}" method="GET">
    <div class="content-kontainer">
        <div class="form-group has-search searchbox">
            <span class="fa fa-search fa-lg form-control-feedback"></span>
            <input type="text" class="form-control" name="s" id="searchbox" placeholder="Cari {{page.title}}">
            <input type="submit" class="d-none" />
        </div>
    </div>
</form>
{% endblock %} 

{% block index_result_w_num %}
{% if results_paginated.object_list %}
<div class="d-flex flex-wrap justify-content-center black-text">
    {% for page in results_paginated %} 
    {% if page.specific.home_company_name or page.get_parent.specific.home_company_name %} 
    {% else %}
    {% if page.specific.short_description %}
    <div class="px-4 ---">
        <div class="kegiatan-card gray-text m-0">
            <div class="kegiatan-judul">
                <h3>{{ page.specific.title }}</h3>
            </div>
            <div class="my-3">
                <div class="underline-exact ul-secondary-light ul-mid mar-auto"></div>
            </div>
            <div class="kegiatan-deskripsi">
                {{ page.specific.short_description|richtext }}
            </div>
            <div class="text-right mt-4">
                <a class="btn btn-secondary" href="{{ page.specific.url }}" role="button">Daftar</a>
            </div>
        </div>
        <div class="p-4"></div>
    </div>
    {% elif page.specific.link_youtube %}
    <div class="px-4 ---">
        <a href="{{page.specific.url}}">
            <div class="artikel-card card-video align-self-start mx-auto">
                <div class="ratio-16-9">
                    <div class="fill-ratio">
                        {% if "youtube" in page.specific.link_youtube %}
                        <iframe class="fill-kontainer-wide" 
                        {% if "watch?v=" in page.specific.link_youtube %} 
                        src="{{ page.specific.link_youtube|watch_to_embed }}" 
                        {% elif "embed" in page.specific.link_youtube %} 
                        src="{{ page.specific.link_youtube }}" 
                        {% endif %} 
                        frameborder="0"; allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe> 
                        {% endif %}
                    </div>
                </div>
                <div class="artikel-teksboks">
                    <div class="artikel-tanggal">
                        <!-- TANGGAL ARTIKEL 1 DI SINI -->
                        <p>{{page.specific.get_pub_date}}</p>
                    </div>
                    <div class="artikel-judul">
                        <!-- JUDUL ARTIKEL 1 DI SINI -->
                        <h5>{{page.title}}</h5>
                    </div>
                </div>
            </div>
        </a>
        <div class="p-4"></div>
    </div>
    {% else %}
    <div class="px-4 ---">
        <a href="{{page.specific.url}}">
            <div class="artikel-card align-self-start mx-auto">
                <div class="ratio-1-1">
                    <div class="fill-ratio">
                        <div class="fill-kontainer-tall">
                            {% image page.specific.main_image max-1600x900 as main_image %}
                            <img src="{{main_image.url}}" alt="{{page.title}}" class="h-100" />
                        </div>
                    </div>
                </div>
                <div class="artikel-teksboks">
                    <div class="artikel-tanggal">
                        <!-- TANGGAL ARTIKEL 1 DI SINI -->
                        <p>{{page.specific.get_pub_date}}</p>
                    </div>
                    <div class="artikel-judul">
                        <!-- JUDUL ARTIKEL 1 DI SINI -->
                        <h5>{{page.title}}</h5>
                    </div>
                </div>
            </div>
        </a>
        <div class="p-4"></div>
    </div>
    {% endif %} {% endif %} {% endfor %}

</div>

<div class="list-page-num text-center mar-vertical-sm">

    {% if results_paginated.number > 1 %}
    <a href="?p={{ results_paginated.number|subtract:1 }}&s={{ form.s.value|urlencode }}" id="page-previous">
        <div class="page-num-block">
            {% else %}
            <a href="#" id="page-previous">
                <div class="page-num-block disabled">
                    {% endif %}
                    <div class="vertical-center">
                        <div class="mar-auto">
                            <span class="fa fa-angle-left fa-sm"></span>
                        </div>
                    </div>
                </div>
            </a>
            {% with start="0" %} 
            {% if results_paginated.paginator.num_pages >= 9 %}
            {{results_paginated.number}} 
            {% if results_paginated.number < 5 %} 
            {{start}} 
            {% elif results_paginated.paginator.num_pages|subtract:results_paginated.number < 5 %}
            {% update_variable results_paginated.paginator.num_pages|subtract:9 as start %} {{start}} {% else %} {% update_variable results_paginated.number|subtract:5 as start %} {{start}} {% endif %} {% endif %} {% for i in '012345678'|make_list %} {% if forloop.counter|add:start > results_paginated.paginator.num_pages %} {% else %} {% if forloop.counter|add:start == results_paginated.number %}
                <a href="#" page="{{ forloop.counter|add:start }}" id="page-button-{{ forloop.counter }}">
                    <div class="page-num-block current-page">
                        {% else %}
                        <a href="?p={{ forloop.counter|add:start }}&s={{ form.s.value|urlencode }}" page="{{ forloop.counter|add:start }}" id="page-button-{{ forloop.counter }}">
                            <div class="page-num-block">
                                {% endif %}
                                <div class="vertical-center">
                                    <div class="mar-auto">
                                        <span class="isi-page-button">
                                            {{ forloop.counter|add:start }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endif %} {% endfor %} {% endwith %} {% if results_paginated.number < results_paginated.paginator.num_pages %} 
                        <a href="?p={{ results_paginated.number|add:1 }}&s={{ form.s.value|urlencode }}" id="page-next">
                            <div class="page-num-block">
                                {% else %}
                                <a href="#" id="page-next">
                                    <div class="page-num-block disabled">
                                        {% endif %}
                                        <div class="vertical-center">
                                            <div class="mar-auto">
                                                <span class="fa fa-angle-right fa-sm"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            {% else %}

                            <div class="artikel-konten mar-auto par-max-width text-center">
                                <p>
                                    {% if form.s.value %} Hasil pencarian kosong. {% else %} Silakan masukkan kata kunci ke dalam kotak pencarian. {% endif %}
                                </p>
                            </div>

                            {% endif %} {% endblock %}