{% extends 'base.html' %}


{% load static coderedcms_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar bootstrap4 %}

{% block extra_css %}
    {% include 'datepicker_style.html' %}
{% endblock %}

{% block extra_js %}
    {% include 'datepicker_script.html' %}
{% endblock %}

{% block isi_page %}
    <div class="section-fluid gray-text">
        {% include 'navbar-primary.html' %}
        <div class="navbar-space"></div>
    </div>
    <div class="section-fluid gray-text">
        <div class="content-width">
            <div class="section-kontainer">
                <div class="content-kontainer warna-teks-primary-dark">
                    <div class="align-items-center text-center mar-auto">
                        <div class="d-inline-block">
                            <h2>Daftar Kegiatan</h2>
                            <div class="underline-short ul-primary ul-normal mar-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="content-kontainer">
                    <div class="artikel-konten mar-auto par-max-width">
                        <div class="kegiatan-card card-wide m-0">
                            <div class="kegiatan-judul">
                                <h3>Psikotes Minat &amp; Bakat</h3>
                            </div>
                            <div class="my-3">
                                <div class="underline-exact ul-secondary-light ul-mid mar-auto"></div>
                            </div>
                            <div class="kegiatan-deskripsi">
                                <p>
                                    Psikotes menjadi hal yang sudah umum dan lumrah
                                    untuk digunakan dalam mengetahui "siapa
                                    sebenarnya seseorang"; baik itu digunakan untuk
                                    rekrut karyawan, penempatan karyawan, penelusuran
                                    bakat dan minat, atau dalam kasus-kasus psikologi
                                    klinis, dll.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-kontainer">
                    <div class="artikel-konten mar-auto par-max-width">
                        <p>
                            Psikotes menjadi hal yang sudah umum dan lumrah
                            untuk digunakan dalam mengetahui "siapa
                            sebenarnya seseorang"; baik itu digunakan untuk
                            rekrut karyawan, penempatan karyawan, penelusuran
                            bakat dan minat, atau dalam kasus-kasus psikologi
                            klinis, dll.
                            <br>
                            Psikotes menjadi hal yang sudah umum dan lumrah
                            untuk digunakan dalam mengetahui "siapa
                            sebenarnya seseorang"; baik itu digunakan untuk
                            rekrut karyawan, penempatan karyawan, penelusuran
                            bakat dan minat, atau dalam kasus-kasus psikologi
                            klinis, dll.
                        </p>
                    </div>
                </div>
                <div class="content-kontainer">
                    <div class="artikel-konten mar-auto par-max-width small-br">
                        <div class="fill-space-kontainer">
                            <div class="py-4 pr-4 warna-teks-secondary">
                                <h4>Daftar</h4>
                            </div>
                            <div class="fill-space">
                                <div class="underline-short ul-secondary-light ul-thin mar-auto"></div>
                            </div>
                        </div>
                        <form class="" action ="{% pageurl self %}" method="POST" {% if form|is_file_form %}enctype="multipart/form-data"{% endif %}>
                            {% comment %} <div class="form-group">
                                <label for="inputNama">Nama</label>
                                <input type="text" class="form-control" id="inputNama" placeholder="Nama" required>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Alamat Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Alamat Email">
                            </div>
                            <div class="form-group">
                                <label for="inputNoHP">No. HP</label>
                                <input type="tel" class="form-control" id="inputNoHP" placeholder="No. HP" required>
                            </div>
                            <div class="form-group">
                                <label for="inputTanggal">Tanggal</label>
                                <input type="text" class="form-control datepicker" id="inputTanggal" required>
                            </div>
                            <div class="py-4 d-flex justify-content-end">
                                <button type="submit" class="btn btn-secondary">Daftar</button>
                            </div> {% endcomment %}
                            {% csrf_token %}
                            {% bootstrap_form form layout='vertical' %}
                            <div class="py-4 d-flex justify-content-end">
                                <button type="submit" class="btn btn-secondary">Kirim pesan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}