{% extends 'base.html' %} {% block title %} {% block kode_status_title %}{% endblock %} Error {% endblock %} {% block isi_page %}
<div class="section-fluid black-text">
    {% include 'navbar-transparan.html' %}
    <div class="navbar-space navbar-space d-block d-md-none"></div>
    <div class="content-width full-height">
        <div class="vertical-center">
            <div class="mar-auto">
                <div class="content-kontainer text-center mar-auto">
                    <div class="error-kontainer">
                        <h1>
                            {% block kode_status %} {% endblock %}
                        </h1>
                        <div class="mar-auto par-max-width">
                            <p>
                                {% block deskripsi_status %} {% endblock %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}