{% load static coderedcms_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %} {% load format_phone %}

<footer>
    {% if settings.website.Profile.handphone_number_1 %}
    <div class="float-button">
        <a href="https://wa.me/{{settings.website.Profile.handphone_number_1}}" rel="noopener" target="_blank">
            <div class="vertical-center">
                <div class="mar-auto">
                    <span class="fa fa-whatsapp fa-lg"></span>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    <div class="section-fluid bg-warna-gray-light-3 black-text overflow-hidden" id="footer">
        <div class="inner-shadow-vertical">
            <div class="content-width">
                <div class="pl-4 pl-md-0">
                    {% if settings.coderedcms.LayoutSettings.logo %}
                    <div class="kontainer-logo-footer d-inline-block z-100">
                        {% image settings.coderedcms.LayoutSettings.logo original as logo_image %}
                        <img src="{{ logo_image.url }}" alt="Logo {{settings.website.Profile.company_name}}" />
                    </div>
                    {% endif %}
                </div>
                <div class="section-kontainer-sm">
                    <div class="content-kontainer-horizontal">
                        <div class="row">

                            <div class="col-md-4 text-center text-md-left">
                                {% if settings.coderedcms.LayoutSettings.logo %}
                                <div class="footer-space"></div>
                                {% endif %}
                                <!-- <p class="teks-footer">
                                    {% if settings.website.Profile.company_name %} {{settings.website.Profile.company_name}}
                                    <br> {% endif %} {{settings.website.Profile.address}}
                                </p> -->
                            </div>

                            <div class="col-md-8 text-center text-md-right">
                                <!-- <p class="teks-footer">
                                    {% if settings.website.Profile.telephone_number %}
                                    <span class="fa fa-phone px-2"></span> 
                                    {% format_phone settings.website.Profile.telephone_number %} 
                                    {% endif %} 
                                    {% if settings.website.Profile.handphone_number_1 %}
                                    <br>
                                    <span class="fa fa-mobile px-2"></span> 
                                    {% format_phone settings.website.Profile.handphone_number_1 %} 
                                    {% endif %} 
                                    {% if settings.website.Profile.handphone_number_2 %}
                                    <br>
                                    <span class="fa fa-mobile px-2"></span> 
                                    {% format_phone settings.website.Profile.handphone_number_2 %} 
                                    {% endif %}
                                    <br>
                                </p> -->
                                <p class="teks-footer">
                                    Ikuti Kami
                                </p>
                                <div class="row justify-content-center justify-content-md-end">
                                    <div class="social-button">
                                        <!-- Facebook -->
                                        <a href="{{settings.coderedcms.SocialMediaSettings.facebook}}" aria-label="Facebook" rel="noopener" target="_blank">
                                            <div class="vertical-center">
                                                <div class="mar-auto">
                                                    <span class="fa fa-facebook fa-lg"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="social-button">
                                        <!-- Twitter -->
                                        <a href="{{settings.coderedcms.SocialMediaSettings.twitter}}" aria-label="Twitter" rel="noopener" target="_blank">
                                            <div class="vertical-center">
                                                <div class="mar-auto">
                                                    <span class="fa fa-twitter fa-lg"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="social-button">
                                        <!-- Youtube -->
                                        <a href="{{settings.coderedcms.SocialMediaSettings.youtube}}" aria-label="Youtube" rel="noopener" target="_blank">
                                            <div class="vertical-center">
                                                <div class="mar-auto">
                                                    <span class="fa fa-youtube fa-lg"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="social-button">
                                        <!-- Instagram -->
                                        <a href="https://www.instagram.com/{{settings.coderedcms.SocialMediaSettings.instagram}}" aria-label="Instagram" rel="noopener" target="_blank">
                                            <div class="vertical-center">
                                                <div class="mar-auto">
                                                    <span class="fa fa-instagram fa-lg"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="social-button">
                                        <!-- WhatsApp -->
                                        <a href="https://wa.me/{{settings.website.Profile.handphone_number_1}}" rel="noopener" target="_blank">
                                            <div class="vertical-center">
                                                <div class="mar-auto">
                                                    <span class="fa fa-whatsapp fa-lg"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row pt-4 text-center text-md-left">
                            <div class="col-12">
                                <p class="teks-footer">
                                    <b>&#169; {{settings.website.Profile.copyright_year}} {{settings.website.Profile.company_name}}</b>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>