{% load static coderedcms_tags i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %} {% load get_first_navbar %} {% get_first_navbar as navbar %}

<div class="bg-navbar" id="bg-navbar"></div>
<!-- Brand -->
<div class="container-fluid content-width align-items-md-start">
    {% if settings.coderedcms.LayoutSettings.logo %}
    <a href="/" target="_self">
        <div class="vertical-center">
            {% image settings.coderedcms.LayoutSettings.logo original as logo_image %}
            <img alt="Logo {{settings.website.Profile.company_name}}" id="logo-navbar" class="logo-navbar" src="{{ logo_image.url }}" />
        </div>
    </a>
    {% endif %}

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" style="background-image: url({% static "img/navbar-icon.png" %})"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto text-right">
            <li class="nav-item">
                <a class="nav-link" href="/pencarian">Pencarian</a>
            </li>
            {% for link in navbar.navigation_links %} {% if link.block_type == "NonDropdown" %}
            <li class="nav-item">
                <a class="nav-link" href="{% if link.value.external_url %}{{ link.value.external_url }}{% else %}{{ link.value.page.url }}{% endif %}">{{ link.value.display_text }}</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">{{ link.value.display_text }}</a>
                <ul class="dropdown-menu">
                    {% for sub_link in link.value.sub_links %}
                    <li><a class="dropdown-item" href="{% if sub_link.value.external_url %}{{ sub_link.value.external_url }}{% else %}{{ sub_link.value.page.url }}{% endif %}">{{ sub_link.value.display_text }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>